In [14]:
import pandas as pd
import pyarrow

traffic_volume_csv = "../data/thpa_traffic_volume_prepared.csv"

In [15]:
df = pd.read_csv(traffic_volume_csv)

In [16]:
df["location_id"].value_counts()

Gate 16 - Exit #1        363868
Gate 10A - Entry         363240
Gate 10A - Exit          345819
Gate 16 - Entrance #3    123457
Gate 16 - Entrance #1    119017
Gate 16 - Entrance #2     85417
Gate 16 - Entrance #4     19584
Gate 16 - Exit #2          1028
Name: location_id, dtype: int64

In [17]:
df["location_id"] = df["location_id"].str.split(" ").str[:4].str.join(" ")

In [18]:
df = df.set_index("timestamp").groupby("location_id").resample("1 h").count().rename(columns={"location_id": "volume"}).reset_index()

In [19]:
for location_id in df["location_id"].unique():
    data = df[df["location_id"] == location_id].copy()
    data = data.drop(columns=["location_id"])
    data.to_csv(traffic_volume_per_location_csv.format(location_id), index=False)
    data.reset_index(drop=True).to_feather(traffic_volume_per_location_feather.format(location_id))

In [20]:
df.to_csv(traffic_volume_csv, index=False)
df.reset_index(drop=True).to_feather(traffic_volume_feather)

In [21]:
df["location_id"].value_counts()

Gate 10A - Entry      15552
Gate 10A - Exit       15550
Gate 16 - Exit        15546
Gate 16 - Entrance    15544
Name: location_id, dtype: int64

In [23]:
df

            location_id           timestamp  volume
0      Gate 10A - Entry 2018-04-28 00:00:00       1
1      Gate 10A - Entry 2018-04-28 01:00:00       0
2      Gate 10A - Entry 2018-04-28 02:00:00       0
3      Gate 10A - Entry 2018-04-28 03:00:00       0
4      Gate 10A - Entry 2018-04-28 04:00:00       1
...                 ...                 ...     ...
62187    Gate 16 - Exit 2020-02-04 19:00:00      11
62188    Gate 16 - Exit 2020-02-04 20:00:00      11
62189    Gate 16 - Exit 2020-02-04 21:00:00       8
62190    Gate 16 - Exit 2020-02-04 22:00:00       0
62191    Gate 16 - Exit 2020-02-04 23:00:00       1

[62192 rows x 3 columns]